﻿<div class="slider">
    <div class="images">
        <img src="https://arenda-vesta.ru/app/uploads/2020/10/23_90.jpg">
        <img src="https://s1.1zoom.ru/big0/514/England_Rivers_Bridges_Riverboat_Evening_London_590744_1280x853.jpg">
        <img src="https://sportishka.com/uploads/posts/2022-04/1650652520_40-sportishka-com-p-nyu-york-ulitsi-krasivo-foto-46.jpg">
    </div>
    <div class="btm-slides">
        <span onclick="btm_slide(1)"></span>
        <span onclick="btm_slide(2)"></span>
        <span onclick="btm_slide(3)"></span>
    </div>
    <div class="arrow left" onclick="side_slide(-1)">
        <span>prev</span>
    </div>
    <div class="arrow right" onclick="side_slide(1)">
        <span>next</span>
    </div>
</div>