<!-- Основной блок слайдера -->
<div class="slider">

    <!-- Первый слайд -->
    <div class="item">
        <img src="https://www.dahockey.ru/upload/iblock/5a4/sddxte4f180e028ir73aipwobriw348g/b71d20047b9c4e99dcc900af477dcf3d.jpg">
    </div>

    <!-- Второй слайд -->
    <div class="item">
        <img src="https://image2.turizm.ru/country_gallery/37/770-300_MypRS0iEEX0HDwxhiQ4Oq1xapuzOnk3t.jpg?q=95">
    </div>

    <!-- Третий слайд -->
    <div class="item">
        <img src="https://farm5.staticflickr.com/4828/31108723127_e603b3da38_o.jpg">
    </div>

    <!-- Кнопки-стрелочки -->
    <a class="previous" onclick="previousSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
</div>
